.header {
  padding: 5px 20px;
  text-align: center;
  background-color: #D62A2A;

  &__link {
    color: white;

    &--active {
      font-weight: bold;
    }

    &:hover, &:focus {
      color: white;
      text-decoration: none;
    }
  }
}
